<launch>
    <arg name="model" default="$(find write_name)/urdf/writing_robot.urdf"/>
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="write_name_controller" pkg="write_name" type="write_name"/>
    <node name="rviz" pkg="rviz" type="rviz"/>
</launch>
